/**********************
* Commun CSS
***********************/


/**********************
* Header CSS
***********************/
header{
    background-color: rgb(184,225,252);;
}
header .container nav{
    padding: 80px;
    text-align: right;
}
header nav a{
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 26px;
}
header nav a:hover{
    background: rgb(96,108,136);
    border-radius: 5px;
}
/**********************
* Main CSS
***********************/
/*
.container{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
*/
.blog{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font: bold 18px Arial;
    border: 4px solid rebeccapurple;
    margin-top: 20px;
    position: relative;

}
.blog h2{
    color: skyblue;
}
.delete{
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    cursor: pointer;
}
/**/
.info{
    width: 50%;
    text-align: center;
    margin: 20px auto;
    background: lightsalmon;
    border: 2px dotted;
    border-radius: 4px;
}
.info .question{
    color: blue;
    cursor: pointer;
    padding-top: 15px;
}

/* Le lien more*/
.nextPage{
    border: 4px solid gray;
}
/************************************
* Page Information
************************************/
#moreInfo .container{
    width: 80%;
}

#moreInfo .flex{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}
#moreInfo .flex > div{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

    margin: 2px solid;
}
.readMore, .toto{
    margin: 20px;
    line-height: 1.8;
    text-align: justify;
    padding: 10px;
    font-size: 1.2rem;
    
    margin: 2px solid;
}
.readMore h2, .toto h2{
    color: blue;
    text-align: center;
} 
aside{
    width: 10%;

    margin: 2px solid;
}
/* Class à applelr dans le JS*/
.pointer{
    color: blue;
    cursor: pointer;
}
.icon{
    float: left;
    padding-left: 15px;
}

/**********************
* Footer
***********************/



/**********************
* Media Queries
***********************/